.btn-c-primary{
    color: white;
    background-color: #21B573;
}


.card-footer{
    display: block;
    clear: both;
    overflow: hidden;
}

.card-footer .date{
    float: left;
}
.card-footer .seat{
    float: right;
}


